h1{
    font-size:33px;
    text-align:center;
}

/* id selector */
#hid{
    background-color:blue;
}

/* class selector */

.paraclass{
    baground-color:white;
}

/* group selector */

p,h1{
    width:500px;
}

p.paraclass{
    text-align:left;
}